body {
    background-color: blue;
    background-image:url('colourchick2.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}